<!DOCTYPE html>
<html>
<head>
	<title>Equipo Docente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Equipo Docente</h1>
	<h3>Profesor</h3>
	-Víctor Hernández M.
	<h3>Auxiliares</h3>
	-Javiera Ovalle T.
	<br>
	-Jorge Pinto
	<br>
	-José Canto
	<br>
	-Macarena V. Osorio A.
	<h3>Ayudantes</h3>
	-Carlos Alberto Vega Hernández
	<br>
	-Catalina Martin D.
	<br>
	-Eduardo Valerio C.
	<br>
	-Juan Gutiérrez T.
	<br>
	-Matías Rojas
	<br>
	-Nicolás Villa Contardo
	<br>
	-Sebastián Donoso
	<br>
	-Sofia Herrera
	<br>
	-Victoria Arce A.
	<br>
	<br>

	<a href="{% url 'index' %}">Volver al Inicio</a>
	<br>
	<a href="{% url 'pestaña' %}">Ir a la pestaña sorpresa</a>


</body>
</html>